$main_background-color: #000;
$first_text-color: #fff;
$second_text-color:#000;
$color-decoration: #fff;
$main-font-size:calc(10px + 1vw);

$color-secondary-decoration: #f25715;

$color-white:#fff;
$color-black:#000;

$titleFontSize:7vw;
$subtitleFontSize:5vw;
$mainShadow: 0 20px 40px -10px #818181;