.about {


	&_title {
		display: grid;
		justify-items: center;
		align-items: center;

		h1 {
			opacity: .1;
			font-size: 8rem;
		}

		h2 {
			font-size: 4rem;
		}

	}

	&_item-1 {
		background: radial-gradient(#fff, #757575);

	}
}
