.conf {
	background-color: $main_background-color;
	color: $first_text-color;
	height: 100vh;
	line-height: 2;
	font-size: calc(13px + 1vw);
	letter-spacing: 1px;
	text-align: center;

	&_text {
		border: 1px solid #fff;

		@include respond(phone) {
			margin: 0 20px;
		}

		p {
			padding: 60px;

			&::first-letter {
				font-size: calc(30px + 1vw);
				line-height: 0;
			}

			@include respond(phone) {
				padding: 20px;
			}
		}
	}

	&_button {
		margin-top: -400px;
	}
}
