footer {
	//background: radial-gradient(#fff, #C9C9C9);
	background: #c9c9c9;
	padding-bottom: 3rem;

	h2 {
		text-align: center;
		@include animTextFooter;
	}

	&_button {

		@include gridCenter;
	}
}
