footer {
	background: radial-gradient(#fff, #C9C9C9);
	justify-content: center;

	h2 {}

	&_button {
		display: grid;
		width: 40%;
		border: 1px solid #000;
		text-align: center;
		cursor: pointer;

		p {

			font: {
				size: 24px;
				weight: 300;
			}

			color: #b1b1b1;

		}

		&:hover {
			border: 1px solid red;
			transition: .5s;
		}
	}
}
