.header {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
	grid-template-rows: .8fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: " . . . . ."" . . . . ."" header_title header_title header_title . ."" header_title header_title header_title . ."" header_title header_title header_title . ."" header_button header_button header_button . ."" . . . . .";

	@include respond(tab-land) {
		grid-template-columns: 1fr;
		grid-template-rows: 2fr 1fr;
		grid-template-areas: "header_title""header_button";
	}

	&_title {
		grid-area: header_title;
	}

	&_button {
		grid-area: header_button;
	}
}

/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
.sub_about {
	width: 100%;

	&_1,
	&_2,
	&_3 {
		@include gridCenter;
		height: 100vh;
		width: 100%;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 6fr;
	}

	&_3 {

		.section-book {
			@include gridCenter;
			width: 95%;
		}
	}
}

/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
footer {
	@include gridCenter;
	width: 100%;
	height: 15vh;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "title";



	h2 {
		grid-area: title;
	}


}

/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/

.conf {
	width: 100%;
	@include gridCenter;
	grid-template-columns: 1fr;
	grid-template-rows: 3fr 1fr;
	grid-template-areas: "text""button";

	&_text {
		width: auto;
		grid-area: "text";
	}

	&_button {
		grid-area: "button";
	}

}



































/*--------------------------------------*/