.header {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
	grid-template-rows: .8fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: " header_btn . . . ."" . . . . ."" header_title header_title header_title . ."" header_title header_title header_title . ."" header_title header_title header_title . ."" header_button header_button header_button . ."" . . . . .";

	@include respond(tab-land) {
		grid-template-columns: 1fr;
		grid-template-rows: 2fr 1fr;
		grid-template-areas: "header_title""header_button""header_btn";
	}

	&_title {
		grid-area: header_title;
	}

	&_btn {
		grid-area: header_btn;
	}

	&_button {
		grid-area: header_button;
	}
}

/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/

.about {

	.about_1,
	.about_2 {
		width: 100%;
		height: 100vh;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr .5fr 1fr 1fr 1fr .5fr 1fr 1fr 1fr 1fr;
		grid-template-rows: .5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}


	.about_1 {

		grid-template-areas: ". . . . . . . . . . . . ."". . about_1-h1 about_1-h1 about_1-h1 about_1-h1 about_1-h1 about_1-h1 about_1-h1 about_1-h1 about_1-h1 . ."". . about_1-h2 about_1-h2 about_1-h2 about_1-h2 about_1-h2 about_1-h2 about_1-h2 about_1-h2 about_1-h2 . ."". about_1-card_1 about_1-card_1 about_1-card_1 . about_1-card_2 about_1-card_2 about_1-card_2 . about_1-card_3 about_1-card_3 about_1-card_3 ."". about_1-card_1 about_1-card_1 about_1-card_1 . about_1-card_2 about_1-card_2 about_1-card_2 . about_1-card_3 about_1-card_3 about_1-card_3 ."". about_1-card_1 about_1-card_1 about_1-card_1 . about_1-card_2 about_1-card_2 about_1-card_2 . about_1-card_3 about_1-card_3 about_1-card_3 ."". about_1-card_1 about_1-card_1 about_1-card_1 . about_1-card_2 about_1-card_2 about_1-card_2 . about_1-card_3 about_1-card_3 about_1-card_3 ."". about_1-card_1 about_1-card_1 about_1-card_1 . about_1-card_2 about_1-card_2 about_1-card_2 . about_1-card_3 about_1-card_3 about_1-card_3 ."". about_1-card_1 about_1-card_1 about_1-card_1 . about_1-card_2 about_1-card_2 about_1-card_2 . about_1-card_3 about_1-card_3 about_1-card_3 ."". about_1-card_1 about_1-card_1 about_1-card_1 . about_1-card_2 about_1-card_2 about_1-card_2 . about_1-card_3 about_1-card_3 about_1-card_3 ."". about_1-card_1 about_1-card_1 about_1-card_1 . about_1-card_2 about_1-card_2 about_1-card_2 . about_1-card_3 about_1-card_3 about_1-card_3 ."". . . . . . . . . . . . .";

		@include respond(tab-land) {
			height: auto;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: .1fr .1fr 1fr 1fr;
			grid-template-areas: "about_1-h1 about_1-h1""about_1-h2 about_1-h2""about_1-card_1 about_1-card_2""about_1-card_3 about_1-card_3";
		}

		@include respond(tab-port) {
			height: auto;
			grid-template-columns: 1fr;
			grid-template-rows: .1fr .1fr 1fr 1fr 1fr;
			grid-template-areas: "about_1-h1""about_1-h2""about_1-card_1""about_1-card_2""about_1-card_3";
		}

		@include respond(phone) {
			/*
			height: auto;
			grid-template-columns: 1fr;
			grid-template-rows: .1fr .1fr 1fr 1fr 1fr;
			grid-template-areas: "about_1-h1""about_1-h2""about_1-card_1""about_1-card_2""about_1-card_3";
		*/
		}

		&-h1 {
			grid-area: about_1-h1;
		}

		&-h2 {
			grid-area: about_1-h2;
		}

		&-card_1 {
			grid-area: about_1-card_1;
		}

		&-card_2 {
			grid-area: about_1-card_2;
		}

		&-card_3 {
			grid-area: about_1-card_3;
		}
	}

	.about_2 {

		grid-template-areas: ". . . . . . . . . . . . ."". . about_2-h1 about_2-h1 about_2-h1 about_2-h1 about_2-h1 about_2-h1 about_2-h1 about_2-h1 about_2-h1 . ."". . about_2-h2 about_2-h2 about_2-h2 about_2-h2 about_2-h2 about_2-h2 about_2-h2 about_2-h2 about_2-h2 . ."". about_2-card_4 about_2-card_4 about_2-card_4 . about_2-card_5 about_2-card_5 about_2-card_5 . about_2-card_6 about_2-card_6 about_2-card_6 ."". about_2-card_4 about_2-card_4 about_2-card_4 . about_2-card_5 about_2-card_5 about_2-card_5 . about_2-card_6 about_2-card_6 about_2-card_6 ."". about_2-card_4 about_2-card_4 about_2-card_4 . about_2-card_5 about_2-card_5 about_2-card_5 . about_2-card_6 about_2-card_6 about_2-card_6 ."". about_2-card_4 about_2-card_4 about_2-card_4 . about_2-card_5 about_2-card_5 about_2-card_5 . about_2-card_6 about_2-card_6 about_2-card_6 ."". about_2-card_4 about_2-card_4 about_2-card_4 . about_2-card_5 about_2-card_5 about_2-card_5 . about_2-card_6 about_2-card_6 about_2-card_6 ."". about_2-card_4 about_2-card_4 about_2-card_4 . about_2-card_5 about_2-card_5 about_2-card_5 . about_2-card_6 about_2-card_6 about_2-card_6 ."". about_2-card_4 about_2-card_4 about_2-card_4 . about_2-card_5 about_2-card_5 about_2-card_5 . about_2-card_6 about_2-card_6 about_2-card_6 ."". about_2-card_4 about_2-card_4 about_2-card_4 . about_2-card_5 about_2-card_5 about_2-card_5 . about_2-card_6 about_2-card_6 about_2-card_6 ."". . . . . . . . . . . . .";

		@include respond(tab-land) {
			height: auto;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: .1fr .1fr 1fr 1fr;
			grid-template-areas: "about_2-h1 about_2-h1""about_2-h2 about_2-h2""about_2-card_4 about_2-card_5""about_2-card_6 about_2-card_6";
		}

		@include respond(tab-port) {
			height: auto;
			grid-template-columns: 1fr;
			grid-template-rows: .1fr .1fr 1fr 1fr 1fr;
			grid-template-areas: "about_2-h1""about_2-h2""about_2-card_4""about_2-card_5""about_2-card_6";
		}

		@include respond(phone) {
			/*
			height: auto;
			grid-template-columns: 1fr;
			grid-template-rows: .1fr .1fr 1fr 1fr 1fr;
			grid-template-areas: "about_2-h1""about_2-h2""about_2-card_4""about_2-card_5""about_2-card_6";
		*/
		}


		&-h1 {
			grid-area: about_2-h1;
		}

		&-h2 {
			grid-area: about_2-h2;
		}

		&-card_4 {
			grid-area: about_2-card_4;
		}

		&-card_5 {
			grid-area: about_2-card_5;
		}

		&-card_6 {
			grid-area: about_2-card_6;
		}

	}
}

/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
.sub_about {
	width: 100%;

	&_1,
	&_2,
	&_3 {
		@include gridCenter;
		height: 100vh;
		width: 100%;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 6fr;
	}

	&_3 {
		.section-book {
			@include gridCenter;
			width: 100%;
		}
	}
}

/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
footer {
	width: 100%;

	.ind_footer {
		height: 35vh;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: "title""footer_button";
		@include gridCenter;

		@include respond(tab-port) {
			height: 20vh;
		}

		h2 {
			grid-area: title;
		}

		&_button {
			grid-area: footer_button;
		}
	}

	.sub_footer {
		height: 25vh;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: "title";
		@include gridCenter;

		h2 {
			grid-area: title;
		}
	}
}

/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/

.conf {
	width: 100%;
	@include gridCenter;
	grid-template-columns: 1fr;
	grid-template-rows: 3fr 1fr;
	grid-template-areas: "text""button";

	&_text {
		width: auto;
		grid-area: "text";
	}

	&_button {
		grid-area: "button";
	}

}



































/*--------------------------------------*/
