.header {
	position: relative;
	background-image: url(img/img1.jpg);
	object-fit: cover;
	background-position: top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	transition: .5s;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	z-index: 999;

	@include gridCenter;

	@include respond(tab-port) {
		background-position: calc(100% + 200px);
	}

	&:hover {
		transition: .5s;
		filter: grayscale(0);
		-webkit-filter: grayscale(0);
	}

	&_title {
		color: $first_text-color;
		padding-left: 5%;

		@include respond(tab-land) {
			padding: 3rem;
			margin-top: 6rem;
		}

		@include respond(tab-port) {
			margin-top: 5rem;
		}

		@include respond(phone) {
			margin-top: 6rem;
			padding: 1rem;
		}

		h1,
		h2 {
			font-size: calc(20px + 3.5vw);
			line-height: 1.5;

			@include respond(tab-land) {
				text-align: center;
				padding: 10px;
			}
		}

		p {
			font-size: calc(10px + 1.8vw);
			line-height: 2;
			text-align: left;
			margin: 3rem 0;

			&::first-letter {
				font-size: calc(50px + 1vw);
				line-height: 0;
			}

			@include respond(tab-land) {
				font-size: calc(12px + 2vw);
				margin-top: 5rem;
				text-align: center;
			}
		}
	}

	&_scrollDown,
	&_sub-scrollDown {

		position: absolute;
		top: 90%;
		left: 50%;
		transform: translate(-90%, -50%);
		width: 2px;
		height: 150px;
		background: transparent;


		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(transparent, $first_text-color, transparent);
			animation: animateScrollDown 2s linear infinite;
		}

		@include respond(tab-land) {
			top: 85%;
			left: 10%;
			transform: translate(-85%, -10%);
		}

		/*
		@include respond(tab-port) {
			top: 85%;
			left: 10%;
			transform: translate(-85%, -10%);
		}
		*/
	}

	&_scrollDown {
		@include respond(tab-port) {
			display: none;
		}
	}

	&_sub-scrollDown {
		top: 50%;
		left: 92%;
		transform: translate(-92%, -50%);
		height: 40%;
	}
}

.sub_header_scrollHorizontally {

	position: fixed;
	top: 8%;
	left: 1%;
	transform: translate(-1%, -8%);
	width: 80px;
	height: 3px;
	z-index: 99999999;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient($first_text-color, $first_text-color, $first_text-color);
		animation: animateScrollHorizontally 2s linear infinite;
	}
}


































//
