.box {
	position: absolute;
	z-index: 99999;
	width: 100%;
	height: 100%;
	background: radial-gradient(#fff, #757575);
	overflow: hidden;

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 100%;
		height: 5px;
		background: #000;
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 5px;
		height: 100%;
		background: #000;
	}

	.niddle {
		position: absolute;
		top: calc(50% - 2px);
		left: 50%;
		height: 4px;
		width: 1200px;
		background: #000;
		animation: animate 1s linear infinite;
		transform-origin: left;
	}

	.number {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		div {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			font-size: 25em;
			font-weight: bold;
			display: flex;
			justify-content: center;
			align-items: center;
			opacity: 0;
			animation: animateNumber 3s linear infinite;

			@include respond(phone) {

				font-size: 15rem;
			}

			&:nth-child(1) {
				animation-delay: 1s;
			}

			&:nth-child(2) {
				animation-delay: 2s;
			}

			&:nth-child(3) {
				animation-delay: 3s;
			}
		}
	}

	.circle {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 500px;
		height: 500px;
		border: 5px solid #fff;
		border-radius: 50%;

		@include respond(phone) {
			width: 330px;
			height: 330px;
		}
	}

	.circle2 {
		width: 600px;
		height: 600px;
		position: relative;

		@include respond(phone) {
			width: 450px;
			height: 450px;
		}
	}

}
