/*
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
1200 - 1800px is where our normal styles apply
1800px + : Big desktop
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px; }

h1 {
  font-size: 3.2rem;
  line-height: 2; }
  @media (max-width: 1200px) {
    h1 {
      font-size: 3rem; } }
  @media (max-width: 900px) {
    h1 {
      font-size: 3rem; } }
  @media (max-width: 600px) {
    h1 {
      font-size: 2rem; } }

h2 {
  font-size: 3rem; }
  @media (max-width: 1200px) {
    h2 {
      font-size: 2rem; } }
  @media (max-width: 900px) {
    h2 {
      font-size: 2rem; } }
  @media (max-width: 600px) {
    h2 {
      font-size: 1.3rem; } }

h3 {
  font-size: 2rem; }

p {
  line-height: 1.8; }
  @media (max-width: 600px) {
    p {
      font-size: 1rem; } }

/*------------BACKGROUND--------------------*/
.back {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#fff, #757575);
  overflow: hidden;
  opacity: .2; }
  .back:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 5px;
    background: #000;
    opacity: .4; }
  .back:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 100%;
    background: #000;
    opacity: .4; }
  .back .niddle {
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    height: 4px;
    width: 1200px;
    background: #000;
    animation: animate 7s linear infinite;
    transform-origin: left;
    opacity: .4; }
  .back .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .back .number div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      font-size: 25em;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      animation: animateNumber 3s linear infinite; }
      .back .number div:nth-child(1) {
        animation-delay: 1s; }
      .back .number div:nth-child(2) {
        animation-delay: 2s; }
      .back .number div:nth-child(3) {
        animation-delay: 3s; }
  .back .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border: 5px solid #fff;
    border-radius: 50%; }
    @media (max-width: 600px) {
      .back .circle {
        width: 400px;
        height: 400px; } }
  .back .circle2 {
    width: 600px;
    height: 600px;
    position: relative; }
    @media (max-width: 600px) {
      .back .circle2 {
        width: 500px;
        height: 500px; } }

/*-------PRELOADER--------------*/
@keyframes animate {
  0% {
    transform: rotate(-90deg); }
  100% {
    transform: rotate(270deg); } }

@keyframes animateNumber {
  0%,
  10% {
    opacity: 1; }
  10.01%,
  100% {
    opacity: 0; } }

/*------------END----------------*/
/*-------TEXT--------------*/
@keyframes animateText {
  0% {
    background-position: -400%; }
  100% {
    background-position: 400%; } }

/*------------END----------------*/
@keyframes animateScrollDown {
  0% {
    transform-origin: top;
    transform: scaleY(0); }
  50% {
    transform-origin: top;
    transform: scaleY(1); }
  51% {
    transform-origin: bottom;
    transform: scaleY(1); }
  100% {
    transform-origin: bottom;
    transform: scaleY(0); } }

@keyframes animateScrollUp {
  0% {
    transform-origin: bottom;
    transform: scaleY(0); }
  50% {
    transform-origin: bottom;
    transform: scaleY(1); }
  51% {
    transform-origin: top;
    transform: scaleY(1); }
  100% {
    transform-origin: top;
    transform: scaleY(0); } }

.header_button,
.about_button,
.footer_button {
  display: grid;
  width: auto;
  height: auto;
  text-align: center;
  cursor: pointer;
  padding: 30px;
  background: #000;
  border: 1px solid #c9c9c9;
  position: absolute;
  overflow: hidden; }
  .header_button p,
  .about_button p,
  .footer_button p {
    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
    font-weight: bold; }
  .header_button:before,
  .about_button:before,
  .footer_button:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #fff, transparent);
    transition: .5s; }
  .header_button:hover:before,
  .about_button:hover:before,
  .footer_button:hover:before {
    left: 100%; }
  @media (max-width: 1200px) {
    .header_button,
    .about_button,
    .footer_button {
      width: auto;
      height: auto;
      padding: 30px; } }
  @media (max-width: 900px) {
    .header_button,
    .about_button,
    .footer_button {
      width: auto;
      height: auto;
      padding: 20px; } }
  @media (max-width: 600px) {
    .header_button,
    .about_button,
    .footer_button {
      width: auto;
      height: auto;
      padding: 10px; } }

/*---------------------------HEADER-----------------------------*/
.header_button p {
  letter-spacing: 3px;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  animation: animateText 8s linear 3.5s infinite; }

/*---------------------------ABOUT-----------------------------*/
.about .card_button {
  width: auto;
  height: auto;
  cursor: pointer;
  background: #000;
  border: 1px solid #c9c9c9;
  overflow: hidden; }
  .about .card_button p {
    letter-spacing: 3px;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    animation: animateText 8s linear 3.5s infinite;
    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
    font-weight: bold; }
  .about .card_button:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #fff, transparent);
    transition: .5s; }
  .about .card_button:hover:before {
    left: 100%; }
  @media (max-width: 1200px) {
    .about .card_button {
      width: auto;
      height: auto; } }
  @media (max-width: 900px) {
    .about .card_button {
      width: auto;
      height: auto; } }
  @media (max-width: 600px) {
    .about .card_button {
      width: auto;
      height: auto; } }

/*---------------------------FOOTER-----------------------------*/
.footer_button {
  background: #c9c9c9;
  border: 1px solid #fff;
  margin-top: 60px; }
  .footer_button p {
    letter-spacing: 3px;
    background: linear-gradient(90deg, #C9C9C9, #000, #C9C9C9);
    background-repeat: no-repeat;
    background-size: 80%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    animation: animateText 7s linear infinite;
    position: relative;
    z-index: 9999; }

.header {
  position: relative;
  background-image: url(img/img1.jpg);
  object-fit: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  transition: .5s;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  z-index: 999;
  display: grid;
  justify-items: center;
  align-items: center; }
  @media (max-width: 900px) {
    .header {
      background-position: calc(100% + 200px); } }
  @media (max-width: 600px) {
    .header {
      background-position: calc(100% + 200px); } }
  .header:hover {
    transition: .5s;
    filter: grayscale(0);
    -webkit-filter: grayscale(0); }
  @media (max-width: 1200px) {
    .header_title {
      padding: 3rem;
      margin-top: 6rem; } }
  @media (max-width: 900px) {
    .header_title {
      margin-top: 5rem; } }
  @media (max-width: 600px) {
    .header_title {
      margin-top: 6rem; } }
  .header_title h1,
  .header_title h2 {
    letter-spacing: 3px;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    animation: animateText 8s linear 3.5s infinite; }
    @media (max-width: 900px) {
      .header_title h1,
      .header_title h2 {
        text-align: center;
        line-height: 1;
        padding: 1rem; } }
    @media (max-width: 600px) {
      .header_title h1,
      .header_title h2 {
        text-align: center;
        line-height: 1;
        padding: 1rem; } }
  .header_title p {
    letter-spacing: 3px;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    animation: animateText 8s linear 3.5s infinite;
    text-align: left;
    margin: 3rem 0; }
    @media (max-width: 1200px) {
      .header_title p {
        margin-top: 6rem; } }
    @media (max-width: 900px) {
      .header_title p {
        margin-top: 3rem;
        text-align: justify; } }
    @media (max-width: 600px) {
      .header_title p {
        margin-top: 3rem; } }
  .header_scrollDown {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-90%, -50%);
    width: 2px;
    height: 150px;
    background: transparent; }
    .header_scrollDown:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(transparent, #fff, transparent);
      animation: animateScrollDown 2s linear infinite; }
    @media (max-width: 1200px) {
      .header_scrollDown {
        top: 85%;
        left: 10%;
        transform: translate(-85%, -10%); } }
    @media (max-width: 900px) {
      .header_scrollDown {
        top: 85%;
        left: 10%;
        transform: translate(-85%, -10%); } }
  .header_panel {
    width: 900px;
    height: 600px;
    position: fixed;
    top: 70%;
    right: 1%;
    transform: translate(-1%, -70%);
    display: grid;
    grid-auto-columns: 1fr 1fr; }
    .header_panel ul {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -60%);
      margin: 0;
      padding: 0;
      width: 900px;
      height: 600px; }
      .header_panel ul li {
        list-style: none;
        margin: 0 40px; }
        .header_panel ul li a {
          position: relative;
          display: block;
          width: 80px;
          height: 80px;
          background-color: #fff;
          text-align: center;
          transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
          transition: .5s;
          box-shadow: -15px 27px 3px rgba(0, 0, 0, 0.6); }
          .header_panel ul li a .fab {
            font-size: 40px;
            color: #262626;
            line-height: 80px;
            transition: .5s; }
          .header_panel ul li a:before {
            content: '';
            position: absolute;
            top: 10px;
            left: -20px;
            height: 80px;
            width: 20px;
            background-color: #b1b1b1;
            transition: .5s;
            transform: rotate(0deg) skewY(-45deg); }
          .header_panel ul li a:after {
            content: '';
            position: absolute;
            bottom: -19px;
            left: -10px;
            height: 20px;
            width: 100%;
            background-color: #b1b1b1;
            transition: .5s;
            transform: rotate(0deg) skewX(-45deg); }
          .header_panel ul li a:hover {
            transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
            box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5); }
          .header_panel ul li a:active {
            top: 5px; }
        .header_panel ul li:hover .fab {
          color: #fff; }
        .header_panel ul li:hover:nth-child(1) a {
          background: #3b5999; }
        .header_panel ul li:hover:nth-child(1) a:before {
          background: #2e4a86; }
        .header_panel ul li:hover:nth-child(1) a:after {
          background: #4a69ad; }
        .header_panel ul li:hover:nth-child(2) a {
          background: #55acee; }
        .header_panel ul li:hover:nth-child(2) a:before {
          background: #4184b7; }
        .header_panel ul li:hover:nth-child(2) a:after {
          background: #4d9fde; }
        .header_panel ul li:hover:nth-child(3) a {
          background: #dd4b39; }
        .header_panel ul li:hover:nth-child(3) a:before {
          background: #c13929; }
        .header_panel ul li:hover:nth-child(3) a:after {
          background: #e8432e; }
        .header_panel ul li:hover:nth-child(4) a {
          background: #0077b5; }
        .header_panel ul li:hover:nth-child(4) a:before {
          background: #036aa0; }
        .header_panel ul li:hover:nth-child(4) a:after {
          background: #0d82bf; }
        .header_panel ul li:hover:nth-child(5) a {
          background: #e4405f; }
        .header_panel ul li:hover:nth-child(5) a:before {
          background: #d02d4c; }
        .header_panel ul li:hover:nth-child(5) a:after {
          background: #f1395c; }
      .header_panel ul .p-1 {
        position: absolute;
        top: 250px;
        left: -80px; }
      .header_panel ul .p-2 {
        position: absolute;
        top: 340px;
        left: 40px; }
      .header_panel ul .p-3 {
        position: absolute;
        top: 430px;
        left: 170px; }
      .header_panel ul .p-4 {
        position: absolute;
        top: 520px;
        left: 300px; }
      .header_panel ul .p-5 {
        position: absolute;
        top: 445px;
        left: 430px; }
      .header_panel ul .p-6 {
        position: absolute;
        top: 375px;
        left: 550px; }
      .header_panel ul .p-7 {
        position: absolute;
        top: 305px;
        left: 670px; }
      .header_panel ul .p-8 {
        position: absolute;
        top: 210px;
        left: 540px; }
      .header_panel ul .p-9 {
        position: absolute;
        top: 120px;
        left: 410px; }
      .header_panel ul .p-10 {
        position: absolute;
        top: 30px;
        left: 280px; }

.header {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: .5fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . . . . ." ". . . . . ." ". header_title header_title header_title . ." ". header_title header_title header_title . ." ". header_title header_title header_title . ." ". header_button header_button . . ." ". . . . . ."; }
  @media (max-width: 1200px) {
    .header {
      grid-template-columns: 1fr;
      grid-template-rows: 2fr 1fr;
      grid-template-areas: "header_title" "header_button"; } }
  @media (max-width: 900px) {
    .header {
      grid-template-columns: 1fr;
      grid-template-rows: 2fr 1fr;
      grid-template-areas: "header_title" "header_button"; } }
  @media (max-width: 600px) {
    .header {
      grid-template-columns: 1fr;
      grid-template-rows: 2fr 1fr;
      grid-template-areas: "header_title" "header_button"; } }
  .header_title {
    grid-area: header_title; }
  .header_button {
    grid-area: header_button; }

.about .about_1,
.about .about_2 {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: .5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }

.about .about_1 {
  grid-template-areas: ". . . . . . . . . . . . ." ". . about_1-h1 about_1-h1 about_1-h1 about_1-h1 about_1-h1 about_1-h1 about_1-h1 about_1-h1 about_1-h1 . ." ". . about_1-h2 about_1-h2 about_1-h2 about_1-h2 about_1-h2 about_1-h2 about_1-h2 about_1-h2 about_1-h2 . ." ". about_1-card_1 about_1-card_1 about_1-card_1 . about_1-card_2 about_1-card_2 about_1-card_2 . about_1-card_3 about_1-card_3 about_1-card_3 ." ". about_1-card_1 about_1-card_1 about_1-card_1 . about_1-card_2 about_1-card_2 about_1-card_2 . about_1-card_3 about_1-card_3 about_1-card_3 ." ". about_1-card_1 about_1-card_1 about_1-card_1 . about_1-card_2 about_1-card_2 about_1-card_2 . about_1-card_3 about_1-card_3 about_1-card_3 ." ". about_1-card_1 about_1-card_1 about_1-card_1 . about_1-card_2 about_1-card_2 about_1-card_2 . about_1-card_3 about_1-card_3 about_1-card_3 ." ". about_1-card_1 about_1-card_1 about_1-card_1 . about_1-card_2 about_1-card_2 about_1-card_2 . about_1-card_3 about_1-card_3 about_1-card_3 ." ". about_1-card_1 about_1-card_1 about_1-card_1 . about_1-card_2 about_1-card_2 about_1-card_2 . about_1-card_3 about_1-card_3 about_1-card_3 ." ". about_1-card_1 about_1-card_1 about_1-card_1 . about_1-card_2 about_1-card_2 about_1-card_2 . about_1-card_3 about_1-card_3 about_1-card_3 ." ". about_1-card_1 about_1-card_1 about_1-card_1 . about_1-card_2 about_1-card_2 about_1-card_2 . about_1-card_3 about_1-card_3 about_1-card_3 ." ". . . . . . . . . . . . ."; }
  @media (max-width: 1200px) {
    .about .about_1 {
      height: auto;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: .1fr .1fr 1fr 1fr;
      grid-template-areas: "about_1-h1 about_1-h1" "about_1-h2 about_1-h2" "about_1-card_1 about_1-card_2" "about_1-card_3 about_1-card_3"; } }
  @media (max-width: 900px) {
    .about .about_1 {
      height: auto;
      grid-template-columns: 1fr;
      grid-template-rows: .1fr .1fr 1fr 1fr 1fr;
      grid-template-areas: "about_1-h1" "about_1-h2" "about_1-card_1" "about_1-card_2" "about_1-card_3"; } }
  @media (max-width: 600px) {
    .about .about_1 {
      height: auto;
      grid-template-columns: 1fr;
      grid-template-rows: .1fr .1fr 1fr 1fr 1fr;
      grid-template-areas: "about_1-h1" "about_1-h2" "about_1-card_1" "about_1-card_2" "about_1-card_3"; } }
  .about .about_1-h1 {
    grid-area: about_1-h1; }
  .about .about_1-h2 {
    grid-area: about_1-h2; }
  .about .about_1-card_1 {
    grid-area: about_1-card_1; }
  .about .about_1-card_2 {
    grid-area: about_1-card_2; }
  .about .about_1-card_3 {
    grid-area: about_1-card_3; }

.about .about_2 {
  grid-template-areas: ". . . . . . . . . . . . ." ". . about_2-h1 about_2-h1 about_2-h1 about_2-h1 about_2-h1 about_2-h1 about_2-h1 about_2-h1 about_2-h1 . ." ". . about_2-h2 about_2-h2 about_2-h2 about_2-h2 about_2-h2 about_2-h2 about_2-h2 about_2-h2 about_2-h2 . ." ". about_2-card_4 about_2-card_4 about_2-card_4 . about_2-card_5 about_2-card_5 about_2-card_5 . about_2-card_6 about_2-card_6 about_2-card_6 ." ". about_2-card_4 about_2-card_4 about_2-card_4 . about_2-card_5 about_2-card_5 about_2-card_5 . about_2-card_6 about_2-card_6 about_2-card_6 ." ". about_2-card_4 about_2-card_4 about_2-card_4 . about_2-card_5 about_2-card_5 about_2-card_5 . about_2-card_6 about_2-card_6 about_2-card_6 ." ". about_2-card_4 about_2-card_4 about_2-card_4 . about_2-card_5 about_2-card_5 about_2-card_5 . about_2-card_6 about_2-card_6 about_2-card_6 ." ". about_2-card_4 about_2-card_4 about_2-card_4 . about_2-card_5 about_2-card_5 about_2-card_5 . about_2-card_6 about_2-card_6 about_2-card_6 ." ". about_2-card_4 about_2-card_4 about_2-card_4 . about_2-card_5 about_2-card_5 about_2-card_5 . about_2-card_6 about_2-card_6 about_2-card_6 ." ". about_2-card_4 about_2-card_4 about_2-card_4 . about_2-card_5 about_2-card_5 about_2-card_5 . about_2-card_6 about_2-card_6 about_2-card_6 ." ". about_2-card_4 about_2-card_4 about_2-card_4 . about_2-card_5 about_2-card_5 about_2-card_5 . about_2-card_6 about_2-card_6 about_2-card_6 ." ". . . . . . . . . . . . ."; }
  @media (max-width: 1200px) {
    .about .about_2 {
      height: auto;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: .1fr .1fr 1fr 1fr;
      grid-template-areas: "about_2-h1 about_2-h1" "about_2-h2 about_2-h2" "about_2-card_4 about_2-card_5" "about_2-card_6 about_2-card_6"; } }
  @media (max-width: 900px) {
    .about .about_2 {
      height: auto;
      grid-template-columns: 1fr;
      grid-template-rows: .1fr .1fr 1fr 1fr 1fr;
      grid-template-areas: "about_2-h1" "about_2-h2" "about_2-card_4" "about_2-card_5" "about_2-card_6"; } }
  @media (max-width: 600px) {
    .about .about_2 {
      height: auto;
      grid-template-columns: 1fr;
      grid-template-rows: .1fr .1fr 1fr 1fr 1fr;
      grid-template-areas: "about_2-h1" "about_2-h2" "about_2-card_4" "about_2-card_5" "about_2-card_6"; } }
  .about .about_2-h1 {
    grid-area: about_2-h1; }
  .about .about_2-h2 {
    grid-area: about_2-h2; }
  .about .about_2-card_4 {
    grid-area: about_2-card_4; }
  .about .about_2-card_5 {
    grid-area: about_2-card_5; }
  .about .about_2-card_6 {
    grid-area: about_2-card_6; }

.section-book {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "book__form ."; }
  .section-book .book__form {
    grid-area: book__form; }

footer {
  width: 100%;
  height: 35vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "title" "footer_button";
  display: grid;
  justify-items: center;
  align-items: center; }
  footer h2 {
    grid-area: title; }
  footer_button {
    grid-area: footer_button; }

.section-book {
  margin: 2rem 0;
  color: #565a5f; }
  .section-book .book__form {
    width: 100%;
    padding: 3rem;
    border-radius: 3px;
    -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    background-color: bisque; }
    .section-book .book__form .heading-secondary {
      text-transform: uppercase;
      display: block;
      text-align: center;
      letter-spacing: .1rem;
      -webkit-transition: all .2s;
      transition: all .2s;
      padding: 2rem 0; }
      .section-book .book__form .heading-secondary:hover {
        -webkit-transform: skewY(2deg) skewX(15deg);
        transform: skewY(2deg) skewX(15deg);
        text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.5);
        text-decoration: none; }
    .section-book .book__form .form__input {
      font-size: 1.1rem;
      font-family: inherit;
      color: inherit;
      padding: 1rem 1rem;
      border-radius: 2px;
      background-color: rgba(255, 255, 255, 0.5);
      border: none;
      border-bottom: 3px solid transparent;
      width: 70%;
      display: block;
      margin: auto; }
      .section-book .book__form .form__input:focus {
        outline: none;
        -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
        border-bottom: 6px solid #4dec3e; }
        .section-book .book__form .form__input:focus:invalid {
          border-bottom: 6px solid #ff7730; }
      .section-book .book__form .form__input::-webkit-input-placeholder {
        color: #999; }
    .section-book .book__form .form__input:placeholder-shown + .form__label {
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translateY(-4rem);
      transform: translateY(-4rem); }
    .section-book .book__form .form__label {
      font-size: 1rem;
      font-weight: 600;
      margin-left: 4rem;
      margin-top: .7rem;
      display: block;
      -webkit-transition: all .3s;
      transition: all .3s; }

.box {
  position: absolute;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: radial-gradient(#fff, #757575);
  overflow: hidden; }
  .box:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 5px;
    background: #000; }
  .box:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 100%;
    background: #000; }
  .box .niddle {
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    height: 4px;
    width: 1200px;
    background: #000;
    animation: animate 1s linear infinite;
    transform-origin: left; }
  .box .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .box .number div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      font-size: 25em;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      animation: animateNumber 3s linear infinite; }
      @media (max-width: 900px) {
        .box .number div {
          font-size: 20rem; } }
      @media (max-width: 600px) {
        .box .number div {
          font-size: 15rem; } }
      .box .number div:nth-child(1) {
        animation-delay: 1s; }
      .box .number div:nth-child(2) {
        animation-delay: 2s; }
      .box .number div:nth-child(3) {
        animation-delay: 3s; }
  .box .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border: 5px solid #fff;
    border-radius: 50%; }
    @media (max-width: 600px) {
      .box .circle {
        width: 330px;
        height: 330px; } }
  .box .circle2 {
    width: 600px;
    height: 600px;
    position: relative; }
    @media (max-width: 600px) {
      .box .circle2 {
        width: 450px;
        height: 450px; } }

.about {
  background: #c9c9c9;
  padding-bottom: 2rem; }
  .about_1, .about_2 {
    display: grid;
    justify-items: center;
    align-items: center; }
  .about_1-card, .about_2-card {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 6px 4px 10px 1px rgba(0, 0, 0, 0.7);
    box-shadow: 6px 4px 10px 1px rgba(0, 0, 0, 0.7);
    transition: .5s;
    position: relative; }
    @media (max-width: 1200px) {
      .about_1-card, .about_2-card {
        height: 400px;
        width: 90%;
        margin: 30px 0; } }
    @media (max-width: 900px) {
      .about_1-card, .about_2-card {
        height: 400px;
        width: 90%;
        margin: 30px 0; } }
    @media (max-width: 600px) {
      .about_1-card, .about_2-card {
        height: 300px;
        width: 90%;
        margin: 30px 0; } }
    .about_1-card:before, .about_2-card:before {
      content: '';
      position: absolute;
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      box-sizing: border-box;
      transition: .5s;
      transform: scaleX(0);
      opacity: 0;
      z-index: 1; }
    .about_1-card:hover:before, .about_2-card:hover:before {
      transform: scaleX(1);
      opacity: 1; }
    .about_1-card:after, .about_2-card:after {
      content: '';
      position: absolute;
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
      box-sizing: border-box;
      transition: .5s;
      transform: scaleY(0);
      opacity: 0;
      z-index: 1; }
    .about_1-card:hover:after, .about_2-card:hover:after {
      transform: scaleY(1);
      opacity: 1; }
    .about_1-card-img, .about_2-card-img {
      width: 100%;
      height: 100%;
      position: relative; }
      .about_1-card-img img, .about_2-card-img img {
        width: 100%;
        height: 100%;
        position: relative;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        transition: .5s;
        filter: grayscale(1);
        -webkit-filter: grayscale(1); }
    .about_1-card:hover .about_1-card-img img, .about_2-card:hover .about_1-card-img img, .about_1-card:hover .about_2-card-img img, .about_2-card:hover .about_2-card-img img {
      filter: grayscale(0) saturate(2);
      -webkit-filter: grayscale(0) saturate(2);
      transition: .5s; }
    .about_1-card .content, .about_2-card .content {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      padding: 20px;
      box-sizing: border-box;
      color: #fff; }
      .about_1-card .content h3,
      .about_1-card .content p,
      .about_1-card .content button, .about_2-card .content h3,
      .about_2-card .content p,
      .about_2-card .content button {
        transition: .5s;
        padding: 0;
        text-align: center;
        opacity: 0;
        visibility: hidden; }
      .about_1-card .content h3, .about_2-card .content h3 {
        margin-bottom: 30px;
        font-weight: bold;
        transform: translateY(-70px); }
      .about_1-card .content p, .about_2-card .content p {
        transform: translateY(70px); }
      .about_1-card .content button, .about_2-card .content button {
        transform: translateY(80px);
        padding: 15px;
        margin: 70px auto 0;
        display: block; }
        @media (max-width: 900px) {
          .about_1-card .content button, .about_2-card .content button {
            padding: 5px 20px;
            margin: 50px auto 0; } }
        @media (max-width: 600px) {
          .about_1-card .content button, .about_2-card .content button {
            padding: 5px 20px;
            margin: 20px auto 0; } }
    .about_1-card:hover .content h3,
    .about_1-card:hover .content p,
    .about_1-card:hover .content button, .about_2-card:hover .content h3,
    .about_2-card:hover .content p,
    .about_2-card:hover .content button {
      opacity: 1;
      visibility: visible;
      transition-delay: .2s;
      transform: translateY(0px); }
  .about_1-h1 {
    position: relative;
    z-index: 9999; }
    .about_1-h1 h1 {
      font-size: 8vw;
      opacity: .1; }
    @media (max-width: 900px) {
      .about_1-h1 {
        margin-top: 2rem; } }
  .about_1-h2 {
    margin-top: -13vw;
    position: relative;
    z-index: 9999;
    letter-spacing: 3px;
    background: linear-gradient(90deg, #C9C9C9, #000, #C9C9C9);
    background-repeat: no-repeat;
    background-size: 80%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    animation: animateText 3s linear infinite; }
    .about_1-h2 h2 {
      font-size: 6vw; }
    @media (max-width: 900px) {
      .about_1-h2 {
        margin-top: -16vw; } }
    @media (max-width: 600px) {
      .about_1-h2 {
        margin-top: -10vw; } }
  .about_1-card_1 {
    margin-top: -100px; }
    @media (max-width: 1200px) {
      .about_1-card_1 {
        margin-top: 0; } }
    @media (max-width: 900px) {
      .about_1-card_1 {
        margin-top: 0; } }
    @media (max-width: 600px) {
      .about_1-card_1 {
        margin-top: 0; } }
  .about_1-card_2 {
    margin-top: 50px; }
    @media (max-width: 1200px) {
      .about_1-card_2 {
        margin-top: 0; } }
    @media (max-width: 900px) {
      .about_1-card_2 {
        margin-top: 0; } }
    @media (max-width: 600px) {
      .about_1-card_2 {
        margin-top: 0; } }
  .about_1-card_3 {
    margin-top: -100px; }
    @media (max-width: 1200px) {
      .about_1-card_3 {
        margin-top: 0;
        width: 95%; } }
    @media (max-width: 900px) {
      .about_1-card_3 {
        margin-top: 0;
        width: 90%; } }
    @media (max-width: 600px) {
      .about_1-card_3 {
        margin-top: 0;
        width: 90%; } }
  .about_2-h1 {
    position: relative;
    z-index: 9999; }
    .about_2-h1 h1 {
      font-size: 8vw;
      opacity: .1; }
    @media (max-width: 900px) {
      .about_2-h1 {
        margin-top: 2rem; } }
  .about_2-h2 {
    margin-top: -13vw;
    position: relative;
    z-index: 9999;
    letter-spacing: 3px;
    background: linear-gradient(90deg, #C9C9C9, #000, #C9C9C9);
    background-repeat: no-repeat;
    background-size: 80%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    animation: animateText 3s linear infinite; }
    .about_2-h2 h2 {
      font-size: 6vw; }
    @media (max-width: 900px) {
      .about_2-h2 {
        margin-top: -16vw; } }
    @media (max-width: 600px) {
      .about_2-h2 {
        margin-top: -10vw; } }
  @media (max-width: 1200px) {
    .about_2 {
      margin-top: 0; } }
  @media (max-width: 900px) {
    .about_2 {
      margin-top: 0; } }
  @media (max-width: 600px) {
    .about_2 {
      margin-top: 0; } }
  .about_2-card_4 {
    margin-top: -100px; }
    @media (max-width: 1200px) {
      .about_2-card_4 {
        margin-top: 0; } }
    @media (max-width: 900px) {
      .about_2-card_4 {
        margin-top: 0; } }
    @media (max-width: 600px) {
      .about_2-card_4 {
        margin-top: 0; } }
  .about_2-card_5 {
    margin-top: 50px; }
    @media (max-width: 1200px) {
      .about_2-card_5 {
        margin-top: 0; } }
    @media (max-width: 900px) {
      .about_2-card_5 {
        margin-top: 0; } }
    @media (max-width: 600px) {
      .about_2-card_5 {
        margin-top: 0; } }
  .about_2-card_6 {
    margin-top: -100px; }
    @media (max-width: 1200px) {
      .about_2-card_6 {
        margin-top: 0;
        width: 95%; } }
    @media (max-width: 900px) {
      .about_2-card_6 {
        margin-top: 0;
        width: 90%; } }
    @media (max-width: 600px) {
      .about_2-card_6 {
        margin-top: 0;
        width: 90%; } }

footer {
  background: #c9c9c9;
  position: relative; }
  footer h2 {
    text-align: center;
    letter-spacing: 3px;
    background: linear-gradient(90deg, #C9C9C9, #000, #C9C9C9);
    background-repeat: no-repeat;
    background-size: 80%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    animation: animateText 7s linear infinite;
    position: relative;
    z-index: 9999; }

.footer_scrollUp {
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translate(-50%, -20%);
  width: 2px;
  height: 150px;
  background: transparent;
  z-index: 9999; }
  .footer_scrollUp:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #000, transparent);
    animation: animateScrollUp 2s linear infinite; }
