.header_button,
.sub_button,
.card_button,
.conf_button {
	display: grid;
	width: auto;
	height: auto;
	text-align: center;
	cursor: pointer;
	padding: 20px;
	background: transparent;
	border: 1px solid #fff;
	position: absolute;
	overflow: hidden;
	letter-spacing: 2px;
	opacity: .5;
	color: $first_text-color;
	text-decoration: none;
	border-radius: 3px;
	;

	font: {
		size: 20px;
		weight: bold;
	}

	@include respond(tab-port) {
		font-size: calc(10px + 2vw);
		padding: 20px;
		opacity: 1;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background: linear-gradient(90deg, transparent, #fff, transparent);
		transition: .5s;

		&:hover {
			background: linear-gradient(90deg, #fff, #fff, #fff);
		}
	}

	&:hover:before,
	&:active:before,
	&:focus:before {
		left: 100%;
	}
}

/*---------------------------HEADER-----------------------------*/
.header {

	&_button {
		margin-top: 100px;

		&:hover {
			transition: .8s;
			opacity: 1;
			background: linear-gradient(90deg, #fff, #fff, #fff);
			background-size: 100%;
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: rgba(255, 255, 255, 1);
		}

		@include respond(tab-land) {
			margin-top: -70px;
		}
	}

	&_btn {
		position: absolute;
		top: 70px;
		left: 80px;
		width: 120px;
		height: 40px;
		-webkit-appearance: none;
		background: linear-gradient(0deg, #333, #000);
		outline: none;
		border-radius: 20px;
		box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px rgba(0, 0, 0, .5), inset 0 0 15px rgba(0, 0, 0, .2);
		cursor: pointer;

		@include respond(tab-land) {
			top: 40px;
			left: 40px;
		}

		&:checked:before {
			left: 40px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 80px;
			height: 40px;
			background: linear-gradient(0deg, #000, #6b6b6b);
			border-radius: 20px;
			box-shadow: 0 0 0 1px #232323;
			transform: scale(.98, .96);
			transition: .5s;
			z-index: 2;
		}

		&:checked:after {
			left: 105px;
			background: #63cdff;
			box-shadow: 0 0 5px #13b3ff, 0 0 15px #13b3ff;
		}

		&:after {
			content: '';
			position: absolute;
			top: calc(50% - 2px);
			left: 65px;
			width: 4px;
			height: 4px;
			background: linear-gradient(0deg, #6b6b6b, #000);
			border-radius: 50%;
			transition: .5s;
			z-index: 2;
		}

		&:checked {
			background: linear-gradient(0deg, #6dd1ff, #20b7ff);
			box-shadow: 0 0 2px #6dd1ff, 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px rgba(0, 0, 0, .5), inset 0 0 15px rgba(0, 0, 0, .2);
		}
	}

	label {
		position: absolute;
		top: 70px;
		left: 80px;
		color: #fff;
		width: 120px;
		height: 40px;
		display: inline-block;
		font-size: 18px;
		z-index: 1;

		&:before {
			content: '';
		}

		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%);
		}

		.en {
			right: auto;
			left: 15px;
		}

		.pl {
			left: auto;
			right: 15px;
			display: inline-block;
		}
	}
}

.sub_button {
	position: fixed;
	top: 9%;
	left: 1%;
	transform: translate(-1%, -9%);
	border: none;
	width: 90px;
	z-index: 99999999;
	background-color: #333333;
	padding: 10px 0;
	opacity: 1;
	font-size: 15px;

	@include respond(phone) {
		top: 4%;
	}
}

/*---------------------------ABOUT-----------------------------*/

.about {

	.card_button {
		background: $second_text-color;
		color: $first_text-color;
		padding: 15px !important;
		margin: 30px auto 0;
		position: relative;
	}
}

/*---------------------------EMAIL-----------------------------*/


.email_button {
	display: block;
	margin: 2rem auto 0;
	cursor: pointer;
	padding: 10px;
	border: 1px solid #000;
	overflow: hidden;
	background: transparent;
	position: relative;
	position: relative;
	z-index: 9999;
	text-decoration: none;

	font: {
		size: 18px;
		weight: 300;
		weight: bold;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background: linear-gradient(90deg, transparent, #000, transparent);
		transition: .5s;
	}

	&:hover:before {
		left: 100%;
	}

	&:hover {
		background: linear-gradient(90deg, #000, #000, #000);
		background-size: 100%;
		background-clip: text;

		-webkit-background-clip: text;
		-webkit-text-fill-color: rgba(000, 000, 000, 1);
	}
}


/*---------------------------FOOTER-----------------------------*/

.footer {

	&_button {
		margin-top: 60px;
		margin: 0 auto;
		position: relative;

		&:hover {
			transition: .8s;
			opacity: 1;
			background: linear-gradient(90deg, #fff, #fff, #fff);
			background-size: 100%;
			background-clip: text;

			-webkit-background-clip: text;
			-webkit-text-fill-color: rgba(255, 255, 255, 1);
		}
	}
}

/*---------------------------CONFIRMATION-----------------------------*/


.conf_button {
	position: relative;

	&:hover {
		transition: .8s;
		opacity: 1;
		background: linear-gradient(90deg, #fff, #fff, #fff);
		background-size: 100%;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: rgba(255, 255, 255, 1);
	}
}