.header_button,
.footer_button,
.sub_button {
	display: grid;
	width: auto;
	height: auto;
	text-align: center;
	cursor: pointer;
	padding: 30px;
	background: transparent;
	border: 1px solid #fff;
	position: absolute;
	overflow: hidden;
	letter-spacing: 2px;
	opacity: .5;
	color: $first_text-color;

	@include respond(tab-land) {}

	@include respond(tab-port) {
		padding: 20px;
		opacity: 1;
	}

	p {
		text-decoration: none;

		font: {
			size: 24px;
			weight: bold;
		}

		@include respond(tab-port) {
			font-size: calc(10px + 2vw);
		}
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background: linear-gradient(90deg, transparent, #fff, transparent);
		transition: .5s;

		&:hover {
			background: linear-gradient(90deg, #fff, #fff, #fff);
		}
	}

	&:hover:before,
	&:active:before,
	&:focus:before {
		left: 100%;
	}
}

/*---------------------------HEADER-----------------------------*/
.header {

	&_button {
		&:hover {
			transition: .8s;
			opacity: 1;
			background: linear-gradient(90deg, #fff, #fff, #fff);
			background-size: 100%;
			-webkit-background-clip: text;
			-webkit-text-fill-color: rgba(255, 255, 255, 1);
		}
	}
}

.sub_button {
	position: fixed;
	top: 9%;
	left: 1%;
	transform: translate(-1%, -9%);
	border: none;
	width: 80px;
	z-index: 99999999;
	background-color: #333333;
	padding: 5px 0;
	opacity: 1;

	p {
		font-size: 15px;
	}
}

/*---------------------------ABOUT-----------------------------*/

.about {

	.card_button {
		width: auto;
		height: auto;
		cursor: pointer;
		background: $second_text-color;
		border: 1px solid #fff;
		overflow: hidden;
		color: $first_text-color;

		p {
			text-decoration: none;

			font: {
				size: 24px;
				weight: bold;
			}
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			background: linear-gradient(90deg, transparent, #fff, transparent);
			transition: .5s;

			@include respond(tab-port) {
				display: none;
			}

		}

		&:hover:before {
			left: 100%;
		}

		@include respond(tab-land) {}

		@include respond(tab-port) {}

		@include respond(phone) {}
	}
}

/*---------------------------EMAIL-----------------------------*/


.email_button {
	display: block;
	margin: 2rem auto 0;
	cursor: pointer;
	padding: 10px;
	border: 1px solid #000;
	overflow: hidden;
	background: transparent;
	position: relative;

	p {
		position: relative;
		z-index: 9999;
		text-decoration: none;

		font: {
			size: 24px;
			weight: 300;
			weight: bold;
		}
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background: linear-gradient(90deg, transparent, #000, transparent);
		transition: .5s;
	}

	&:hover:before {
		left: 100%;
	}

	&:hover {
		background: linear-gradient(90deg, #000, #000, #000);
		background-size: 100%;
		-webkit-background-clip: text;
		-webkit-text-fill-color: rgba(000, 000, 000, 1);
	}

}


/*---------------------------FOOTER-----------------------------*/

.footer {

	&_button {
		margin-top: 60px;
	}
}
