.header {
	&_button {

		display: grid;
		width: auto;
		height: auto;
		text-align: center;
		cursor: pointer;
		padding: 30px;
		background: #000;
		border: 1px solid #c9c9c9;

		a {
			text-decoration: none;
			@include animTextHeader;

			font: {
				size: 24px;
				weight: 300;
				weight: bold;

			}
		}

		@include respond(tab-land) {
			width: auto;
			height: auto;
			padding: 30px;
		}

		@include respond(tab-port) {
			width: auto;
			height: auto;
			padding: 20px;
		}

		@include respond(phone) {
			width: auto;
			height: auto;
			padding: 10px;
		}

		&:hover {
			border: 5px solid #fff;
			transition: .5s;
		}
	}


}


.footer {
	&_button {
		display: grid;
		width: auto;
		height: auto;
		text-align: center;
		padding: 30px;
		background: #c9c9c9;
		border: 1px solid #fff;
		cursor: pointer;

		a {
			text-decoration: none;
			@include animTextFooter;

			font: {
				size: 24px;
				weight: 300;

			}
		}

		@include respond(tab-land) {
			width: auto;
			height: auto;
			padding: 30px;
		}

		@include respond(tab-port) {
			width: auto;
			height: auto;
			padding: 20px;
		}

		@include respond(phone) {
			width: auto;
			height: auto;
			padding: 10px;
		}

		&:hover {
			border: 5px solid #fff;
			transition: .5s;
		}
	}

}
